body{
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}

#proPic{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#heart{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

p{
	text-align: center;
	font-size: 50px;
}

ul{
  	text-align:center;
}
li{
	list-style-type: none;
  	display:inline;
  
}